<!DOCTYPE html>
<html lang="en" class="bg-gray-900">
  <head>
    <title>ProjectInstagram</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="relative bg-gray-200 h-full">
  <%= render "shared/navbar" %>
    <div class="page-content pt-6 h-full">
      <div class="container mx-auto flex h-full">
        <div class="left w-8/12 pr-4">
          <%= render "shared/stories" %>
        </div>
          <%= render "shared/feeds" %>
          <div class="right w-4/12 h-screen overflow-visible h-full">
			      <div class="first fixed pl-4 w-full" style="top:85px;  max-width: 293px;">
              <%= render "shared/profile" %>
              <%= render "shared/suggestions" %>
            </div>
          </div>
      </div>
    </div>

    <%= render "shared/flashes" %>
    <%= yield %>
  </body>
</html>
